@page
@model Reframe.Web.Pages.CourseListModel
@{

    ViewData["Title"] = Localizer.Text("Courses");
}

<div class="course-page">
        <ul class="list-group" id="course-list">
        </ul>
    </div>
<script src="~/js/course.js"></script>