@page "{id:int}"
@model Reframe.Web.Pages.NewsModel
@{
    ViewData["Title"] = Localizer.Text("News");
}
<div class="specific-news-body">
    <div>@Html.Raw(Model.SpecificNews.Body)</div>
    <p>

        @Model.SpecificNews.CreationTime
    </p>
</div>