@page
@model Reframe.Web.Pages.PlaceListModel
@{
}
<div class="place-page">
    <div class="col-md-4">
        <form>
            <h4>Create Place</h4>
            <hr />

            <div class="form-group">
                <label>Name</label>
                <input onblur="checkIfTaken()" onchange="changing()" id="Name"  class="form-control" />
            </div>

            <div class="form-group">
                <label>Number of Desk</label>
                <input id="NumberOfDesk" class="form-control" />
            </div>

            <button onclick="send()" id="place-submit" class="btn btn-primary">Add Place</button>
        </form>
    </div>
    <div id="placeList">
        <ul >
            @foreach (var item in Model.PlaceList)
            {
                <li id="@item.Id">
                    <p>Name: @item.Name</p>
                    <p>Desk: @item.NumberOfDesk</p>
                    <p class="creation-time">Created at: @item.CreationTime</p>
                </li>
            }
        </ul>
    </div>
</div>
<script src="~/js/place.js"></script>