@page
@model Reframe.Web.Pages.Auth.ChangePasswordModel
@{

    ViewData["Title"] = "Jelszó csere";
}
<form asp-page-handler="CreateNewPassword" class="p-3">
    <div class="form-group">
        <label asp-for="NewPassword">Jelszó csere</label>
        <input asp-for="NewPassword" class="form-control" />
    </div>

    <div class="d-flex justify-content-end my-2">
        <button type="submit" class="btn btn-outline-primary">Csere</button>
    </div>
</form>